<header class="container-fluid text-center shadow-box">
  <div class="d-flex w-100 h-100 p-3 mx-auto flex-column container">
    <div  class="mb-auto row d-flex justify-content-between align-items-center">
      <!-- <h3 class="float-md-start mb-0">Cover</h3> -->
      <a href="/" class="d-flex col-6 align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none ">
        <img class="float-md-start mb-0 bi me-2" height="60" role="img" src="assets/img/logo.png" alt="">
      </a>

      <div class="d-block col-6 d-md-none col-md-3 text-end">
        <img class="float-md-end mb-0" src="assets/icons/burger-menu.svg" alt="">
      </div>

     <app-nav></app-nav>

      <div class="col-md-3 d-none d-md-block text-end">
        <img class="float-md-end mb-0" src="assets/icons/burger-menu.svg" alt="">
      </div>

    </div>


  </div>

</header>
