

<!-- Footer -->
<footer class="bg-color-black text-center text-white  ">

  <div class="container p-4 ">

    <section class="y-margin">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 text-start col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Tnank you!</h5>

          <p>

            Fédération Française de Tennis
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Menu</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Home</a>
            </li>
            <li>
              <a href="#!" class="text-white">Tennis</a>
            </li>
            <li>
              <a [routerLink]="['/cgv']" class="text-white">CGV</a>
            </li>
            <li>
              <a href="#!" class="text-white">About</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Categories</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Tennis</a>
            </li>
            <li>
              <a href="#!" class="text-white">Diving</a>
            </li>
            <li>
              <a href="#!" class="text-white">Kayak</a>
            </li>
            <li>
              <a href="#!" class="text-white">Cycling</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>


    <div class="y-margin"></div>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    ©2022 - tous droits réservés
    <a class="text-white" href="#">IAI2 IMR</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

