<div class="y-padding ">
  <h2 class="gray-block-title">Login</h2>
  <div class="gray-block ">
    <div class="form-signin row y-padding ">
      <form class="col-10 col-md-5 mx-auto y-padding ">
        <img class="mb-4 pb-5 mb-5" src="assets/img/logo-login.svg" alt="" width="220">

        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
          <label>

          </label>
        </div>
        <button class="w-100 btn btn-lg btn-login btn-submit" type="submit">Login</button>
        <button class="w-100 btn btn-lg btn-sign-up btn-submit" type="submit">Créer un compte</button>
      </form>
    </div>
  </div>

</div>
