<div class="y-padding ">
  <h2 class="gray-block-title">CGV</h2>
  <div class="gray-block">
    <div class="row mt-5 px-5 text-start cgv">
      <section data-v-710049b6="" class="grid-1 article">

        <div data-v-710049b6="" class="content-section">
          <div data-v-710049b6="">
            <div class="text" type="TEXT" grid="3">

              <p>
                <br>Les présentes Conditions Générales d’Utilisation (les «&nbsp; <strong>CGU</strong>&nbsp;») ont pour but d’encadrer les modalités d'utilisation du site&nbsp;«&nbsp; <a href="http://www.rolandgarros.com/fr-fr">www.rolandgarros.com/fr-fr</a>&nbsp;» (le « <strong>Site </strong>») par les utilisateurs naviguant sur le Site (le ou les « <strong>Utilisateur (s)</strong>&nbsp;»).
              </p>
              <p>Les CGU sont opposables à l’Utilisateur dès sa première visite du Site et pendant toute la durée de l’utilisation du Site. </p>
              <p>L’Utilisateur reconnaît que l’utilisation du Site nécessite le respect de l’ensemble des prescriptions définies au sein des CGU.</p>
              <p>Les CGU s'appliquent, sans restriction ni réserve, aux services proposés par la Fédération Française de Tennis (la « <strong> FFT</strong> ») sur le Site. </p>
            </div>
          </div>
        </div>
        <aside data-v-710049b6="" class="grid-1 aside">
          <div data-v-5709036c="" data-v-710049b6="" class="pub" id="bodyBanner">
            <div data-v-5709036c="" id="div-gpt-ad-1585052552083-0" class="ad" style="">
              <div id="google_ads_iframe_/21805518817/site_rg_fr/pages_contenus_0__container__" style="border: 0pt none; margin: auto; text-align: center;"></div>
            </div>
          </div>
        </aside>
        <div data-v-710049b6="" class="content-section">
          <div data-v-710049b6="">
            <div class="text" type="TEXT" grid="3">
              <p>
                <strong>Article 1 -&nbsp;Présentation du site&nbsp;</strong>
              </p>
              <p>Le Site fournit gratuitement des informations relatives à l’organisation et au déroulement des éditions du tournoi Roland Garros. Il permet également aux visiteurs de suivre l'actualité du tennis professionnel. <br>
                <br>
              </p>
            </div>
          </div>
        </div>
        <div data-v-710049b6="" class="content-section">
          <div data-v-710049b6="">
            <div class="text" type="TEXT" grid="3">
              <p>
                <strong>Article 2 -&nbsp;Conditions d’accès au site&nbsp;</strong>
              </p>
              <p>L’accès au Site est gratuit pour tout Utilisateur ayant un accès à internet. </p>
              <p>Toutefois, les équipements (ordinateur, logiciels, navigateur Internet, etc.) permettant l'accès au Site ainsi que l’exploitation de ses fonctionnalités, sont à la charge exclusive des Utilisateurs, de même que les frais de télécommunication induits par les connexions au Site. </p>
              <p>Tout accès au Site par une personne mineure est effectué sous l’entière responsabilité du/des titulaire(s) de l’autorité parentale. Il appartient à ce(s) dernier(s) de déterminer si les informations, données, textes, logiciels, photographies, sons, messages, et tout contenu proposé sur le Site sont adaptés au mineur dont il(s) a/ont la charge.</p>
            </div>
          </div>
        </div>
        <div data-v-710049b6="" class="content-section">
          <div data-v-710049b6="">
            <div class="text" type="TEXT" grid="3">
              <p>
                <strong>Article 3 -&nbsp;Données nominatives/Protection de la vie privée&nbsp;</strong>
              </p>
              <p>Les Utilisateurs du Site sont invités à faire connaître à la FFT leurs remarques sur d’éventuels dysfonctionnements de celui-ci au regard des libertés individuelles, à l’adresse de messagerie électronique suivante :&nbsp; <a href="mailto:dpo@fft.fr" target="_top" rel="noopener">dpo@fft.fr</a>. </p>
              <p>Conformément à la Règlementation relative à la protection des données à caractère personnel, l’Utilisateur est informé que la FFT en tant que responsable du traitement, met en œuvre des traitements de données à caractère personnel. </p>
              <p>Pour en savoir plus sur ce traitement de données à caractère personnel et sur l’étendue de leurs droits, les Utilisateurs sont invités à se reporter à la Politique de protection des données personnelles.</p>
            </div>
          </div>
        </div>
        <div data-v-710049b6="" class="content-section">
          <div data-v-710049b6="">
            <div class="text" type="TEXT" grid="3">
              <p>
                <strong>Article 4 -&nbsp;Responsabilité de l'Utilisateur&nbsp;</strong>
              </p>
              <p>L’Utilisateur s’engage à utiliser le Site dans le parfait respect des lois et règlements en vigueur.</p>
              <p>L’Utilisateur s’interdit de reproduire, copier, vendre, revendre ou exploiter dans un but commercial tout ou partie du Site.</p>
              <p>L’Utilisateur s'interdit d'introduire sur le Site des virus, des programmes malveillants, ou tout autre élément nuisible quel qu’en soit la nature, conçus pour limiter, endommager, altérer, détourner ou interrompre les fonctionnalités et/ou les performances du Site ou pour supprimer ou modifier son contenu.</p>
              <p>L’Utilisateur s’interdit d’utiliser tout logiciel, appareil, robot, script, programme, tout moyen automatisé, tout autre processus ou technique technologique permettant d’extraire un/une ou plusieurs information(s), donnée(s), contenu(s) présents sur le Site.</p>
              <p>En cas de violation des interdictions énoncées au présent article, la FFT pourra prendre toute mesure appropriée ou engager toute action qu’elle estimera nécessaire, incluant mais ne se limitant pas à la suspension et/ou au blocage de l’accès au Site, sans que l'Utilisateur ne puisse revendiquer une quelconque indemnisation ou réparation.</p>
            </div>
          </div>
        </div>
        <div data-v-710049b6="" class="content-section">
          <div data-v-710049b6="">
            <div class="text" type="TEXT" grid="3">
              <p>
                <strong>Article 5 -&nbsp;Responsabilité de la FFT&nbsp;</strong>
              </p>
              <p>Les données et informations figurant sur le Site sont communiquées par la FFT à titre <strong></strong>purement informatif. <strong></strong>La FFT ne saurait garantir leur parfaite fiabilité et exhaustivité.&nbsp; </p>
              <p>L'utilisation du Site et de tout élément ou information obtenu via celui-ci relève de la responsabilité exclusive de l'Utilisateur.</p>
              <p>La FFT ne pourra être tenue pour responsable du manque de performance du Site ou de tout retard de transmission dû à des problèmes techniques ou à des pannes.&nbsp;</p>
              <p>La FFT se réserve la possibilité d'interrompre, de suspendre momentanément ou de modifier sans préavis l'accès à tout ou partie du Site et de ses fonctionnalités, afin d'en assurer la maintenance, ou pour toute autre raison, sans que l'interruption n'ouvre droit à quelque obligation ou indemnisation que ce soit.</p>
              <p>En outre, la FFT ne saurait être tenue pour responsable de tout dommage, matériel ou immatériel, causé aux Utilisateurs du Site, à leurs équipements informatiques et/ou aux données qui y sont stockées, ainsi que des conséquences pouvant en découler sur leur activité personnelle, professionnelle ou commerciale. </p>
              <p>La FFT ne saurait d’avantage être tenue pour responsable de tout dysfonctionnement du réseau ou des serveurs ou de tout autre événement échappant à son contrôle raisonnable, qui empêcherait ou dégraderait l'accès au Site ou l’exploitation de tout ou partie de ses fonctionnalités.</p>
            </div>
          </div>
        </div>
        <div data-v-710049b6="" class="content-section">
          <div data-v-710049b6="">
            <div class="text" type="TEXT" grid="3">
              <p>
                <strong>Article 6 -&nbsp;Propriété intellectuelle&nbsp;</strong>
              </p>
              <p>Le Site et son contenu (logiciels, textes, images, sons, graphismes, etc.) constituent une œuvre de l’esprit, propriété exclusive de la FFT et protégée par la législation française et internationale en vigueur sur les droits d'auteur.</p>
              <p>Les dénominations, marques verbales et logotypes «&nbsp;Roland-Garros&nbsp;», « Fédération Française de Tennis » et « FFT », les marques verbales et logotypes des partenaires de la FFT, ainsi que toutes autres dénominations, marques et logotypes, figurant ou pouvant figurer au sein du Site, sont la propriété exclusive de la FFT, de ses partenaires ou de tiers, et sont protégés par les droits de propriété intellectuelle en vigueur.</p>
              <p>Toute diffusion, reproduction, représentation, copie, extraction, transfert, modification, ou altération, totale ou partielle, du Site et son contenu, des dénominations, marques et logotypes, sans l'autorisation expresse de leur titulaire est strictement interdite et sanctionnée par les dispositions du Code de la propriété intellectuelle. </p>
              <p>En dehors de la simple consultation du Site et de l’utilisation de ses fonctionnalités à des fins personnelles, toute autre utilisation du Site ou de son contenu est soumise à l'accord préalable de la FFT. <br>
                <br>
              </p>
            </div>
          </div>
        </div>
        <div data-v-710049b6="" class="content-section">
          <div data-v-710049b6="">
            <div class="text" type="TEXT" grid="3">
              <p>
                <strong>Article 7 -&nbsp;Sites tiers&nbsp;</strong>
              </p>
              <p>Les pages du Site peuvent contenir des liens hypertextes renvoyant vers d'autres sites Internet gérés par des sociétés distinctes de la FFT et sur lesquels la FFT n'exerce aucune sorte de contrôle. En cliquant sur ces liens, l’Utilisateur quitte le site <a href="http://www.rolandgarros.com/fr-fr">www.rolandgarros.com/fr-fr</a>. </p>
              <p>La FFT n'assume aucune responsabilité quant au contenu de ces sites tiers ou au contenu vers lequel ces sites tiers peuvent renvoyer. <br>
                <br>
              </p>
            </div>
          </div>
        </div>
        <div data-v-710049b6="" class="content-section">
          <div data-v-710049b6="">
            <div class="text" type="TEXT" grid="3">
              <p>
                <strong>Article 8 -&nbsp;Modification des CGU&nbsp;</strong>
              </p>
              <p>La FFT se réserve le droit de modifier, à tout moment, les termes, conditions et mentions figurant aux présentes CGU.</p>
              <p>En cas de modification des présentes CGU, l’Utilisateur en sera informé sur le Site. </p>
              <p>L’Utilisateur qui visite le Site après la publication des nouvelles CGU et l’information de cette publication sur le Site, est réputé en avoir pris connaissance et les avoir acceptées.</p>
              <p>Les Utilisateurs sont invités à consulter régulièrement la dernière version des CGU disponible sur le Site dans la rubrique «&nbsp;Mentions légales&nbsp;». <br>
                <br>
              </p>
            </div>
          </div>
        </div>
        <div data-v-710049b6="" class="content-section">
          <div data-v-710049b6="">
            <div class="text" type="TEXT" grid="3">
              <p>
                <strong>Article 9 -&nbsp;Nullité&nbsp;</strong>
              </p>
              <p>En cas de nullité de l’une quelconque des stipulations des CGU, les autres stipulations des présentes demeureront en vigueur. <br>
                <br>
              </p>
            </div>
          </div>
        </div>
        <div data-v-710049b6="" class="content-section">
          <div data-v-710049b6="">
            <div class="text" type="TEXT" grid="3">
              <p>
                <strong>Article 10 -&nbsp;Force Majeure</strong>
              </p>
              <p>La FFT ne pourra être tenue pour responsable, ou considérée comme ayant failli aux présentes CGU, pour tout retard ou inexécution, lorsque la cause du retard ou de l'inexécution est liée à un cas de force majeure.</p>
              <p></p>
            </div>
          </div>
        </div>
        <div data-v-710049b6="" class="content-section">
          <div data-v-710049b6="">
            <div class="text" type="TEXT" grid="3">
              <p>
                <strong>Article 11 -&nbsp;Correspondance</strong>
              </p>
              <p>Toute réclamation et/ou notification devra être formulée par écrit et transmise à la FFT par courrier à l’adresse postale suivante&nbsp;: </p>
              <p>
                <em>Fédération Française de Tennis </em>
              </p>
              <p>
                <em>2 Avenue Gordon Bennett</em>
              </p>
              <p>
                <em>75016 Paris</em>
              </p>
              <p></p>
            </div>
          </div>
        </div>
        <div data-v-710049b6="" class="content-section">
          <div data-v-710049b6="">
            <div class="text" type="TEXT" grid="3">
              <p>
                <strong>Article 12 -&nbsp;Droit applicable et juridiction</strong>
              </p>
              <p>Les présentes CGU sont régies par le droit français. Tout différend lié à l'interprétation et/ou à l'exécution des présentes est soumis aux tribunaux français conformément aux règles de droit commun.</p>
            </div>
          </div>
        </div>
      </section>
    </div>

  </div>

</div>
